.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
  }
  .form-container {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .login-button {
    width: 70px;
    height: 40px;
    padding: 10px 10px;
    background-color: #0ea322;
    color: rgb(239, 233, 233);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  h2{
    margin-top: 1px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
  
  }




.forgot-password-link{
    justify-content: end;
    color: red;
}
.signup-link{
    margin-left: 210px;
    justify-content: end;
    color: red;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}


  